---
layout: page
title: 归档
header: Posts By Archive
group: navigation
---

<!-- 
    提取所有post的文章的年份，得到如下的输出：
    2017 2016 2015 2013 2012
-->
{% capture post_years %}
    {% for post in site.posts %}
        {% if post.next == null %}
            {{ post.date | date: '%Y' }}
            {% unless forloop.last %} {% endunless %}
        {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
                {{ post.date | date: '%Y' }}
                {% unless forloop.last %} {% endunless %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endcapture %}

<!-- 
    根据如下形式的年份数据，生成数组
    2017 2016 2015 2013 2012
-->
{% assign year_words = post_years | split:' ' | sort %}

<div class="col-sm-3 col-xs-6">
    <ul class="nav nav-tabs-vertical cat-tag-menu">
        {% for year in year_words %}
        {% capture beautyYear %}{{ year | replace:' ','' | strip_newlines }}{% endcapture %}
            <li>
                <a href="#{{ beautyYear }}-ref">
                    {{ beautyYear }}年
                    <span class="badge pull-right">
                        <!-- 统计当前年份的文章总数 -->
                        {% assign index = 0 %}
                        {% for post in site.posts %}
                            {% capture postYear %}{{ post.date | date: '%Y' }}{% endcapture %}
                            {% if beautyYear contains postYear %}
                                {% assign index = index | plus:1 %}
                            {% endif %}
                        {% endfor %}
                        {{ index }}
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- Tab panes -->
<div class="tab-content col-sm-9 col-xs-6">
    {% for year in year_words %}
    {% capture beautyYear %}{{ year | replace:' ','' | strip_newlines }}{% endcapture %}
    <div class="tab-pane" id="{{ beautyYear }}-ref">
    <h2 style="margin-top: 0px">Posts in {{ beautyYear }}</h2>
    <ul class="list-unstyled">
        {% for post in site.posts %}
            {% capture postYear %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% if beautyYear contains postYear %}
                <!-- 找到该年份的文章 -->
                <li style="line-height: 35px;"><a href="{{ site.BASE_PATH }}{{post.url}}">{{post.title}}</a> <span class="text-muted">- {{ post.date | date: "%B %d, %Y" }}</span></li>
            {% endif %}                
        {% endfor %}        
    </ul>    
    </div>
    {% endfor %}
</div>
      
<div class="clearfix"></div>