<div class="sidebar-module">
  <img height="60" src="/images/xixia.png" />
</div>
<div class="sidebar-module">
  <h4>分类</h4>
  <ol class="list-unstyled">
  	
  	{% for category in site.categories %}
		<li><a href="{{ site.baseurl}}/site/category/#{{ category[0] }}">{{category[0]}}({{category.last.size}})</a></li>
		{% endfor %}
    
  </ol>
</div>
<div class="sidebar-module">
  <h4>友情链接</h4>
  <ol class="list-unstyled">

		{% for link in site.data.links %}
		  <li>
		    <a href="{{ link.url }}">
		      {{ link.title }}
		    </a>
		  </li>
		{% endfor %}
    
  </ol>
</div>
