---
layout: default
---
{% for post in site.posts %}
	<!-- main articles -->
	<!-- 文章标题 -->
	<h2>
		<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	</h2>
	
	<!-- 文章日期 -->
	<h4><small>{{ post.date | date: "%b %-d, %Y" }}</small></h4>
	
	<!-- 文章摘要 -->
  {% if post.description %}
      {{ post.description | strip_html | strip_newlines | truncate: 250 }}
      <p align="right"><a class="btn" href="{{ post.url | prepend: site.baseurl }}">阅读全文</a></p>
      {% include tags.html %}
  {% else %}
      {{ post.content | strip_html | strip_newlines | truncate: 250 }}
      <p align="right"><a class="btn" href="{{ post.url | prepend: site.baseurl }}">阅读全文</a></p>
      {% include tags.html %}
  {% endif %}
	  
	<!-- 与其他文章的分割线 -->
	<hr>
	<!-- article ends -->
{% endfor %}

<nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>